# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\PeterSmrecek\Disk Google (xsmrecek@stuba.sk)\1 PKS\5 Zadania\PKS Zadanie 2\PKS_Zadanie2_Program\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea
/Smrecek_PKS_Zadanie2_SW_ARQ.spec
/build/
/dist/
